@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    overflow-x: hidden;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



p{
     font-family: "Inter Tight", sans-serif;
}

h1, h2,h3, h4{
     font-family: "Kalnia", serif;
}

h2{
    font-size: 35px;
     font-family: "DM Serif Text", serif;
}

header{
    background-color: #F4EEC8;
}


a, ul{
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-family: "Kalnia", serif;
}


.alignfin{
    align-content: center;
}

.red{
    color: #806201f9;
}

.Bannière{
    background-image: url(asset/andres-jasso-u4unYsXQHnE-unsplash.jpg);
    background-repeat:none;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 88px);
    color: white;
    border-radius: 0px 0px 0px 150px;
}

.Bannière h1, .Bannière h2{
    margin-bottom: 20px;
}



.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

/*CLASSES DE DIAMANSIONS */

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-48{
    width: 48%;
}

.w-33{
    width: 33%;
}

.w-25{
    width: 20%;
}
.w-40{
    width:40%
}


.logo{
    width: 48px;

}

.flex-start{
justify-content: flex-start;
}

.bouton{
    background-color: #f4eec87b;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 15px;
    display: inline-block;
}



.card2{
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 45%;
}


.padding{
    padding: 20px;
}

.card9{
    border-radius: 10px;
    background-color: #F4EEC8;
    padding: 10px;
    width: 45%;
}

.gray{
    color: #6c6b6b97;
}

.margetop{
    margin-top: 20px;
}

.margin{
    margin: 40px;
}


.margin2{
    margin: 60px;
}


.gap12{
    gap: 12;
}

.centre{
    justify-content: center;
}

.left{
    margin-left: 20px;
}


.left5{
  margin-left: 400px;
}



.left2{
    margin-left: 20%;
}

.border{
    border-radius: 10px 20px 10px 20px;
}

.btm{
    margin-bottom: 30px;
}



.textcenter{
    text-align: center;
}


.fixe{
    position: fixed ;
    width: 100%;
    z-index: 2;
}

.height{
    height: 86px;
}




.slider-projets {
    display: flex; /* Affichage en flexbox horizontal */
    gap: 20px; /* Espace entre les projets */
   
    flex-shrink: 0; /* Empêche le rétrécissement de l'élément dans sa largeur. en gros on autorise les enfants a déborder */
    cursor: pointer; /* Change le curseur au survol */
}

/* Style individuel pour chaque projet */
.projet-item {
    width: 500px; /* Largeur fixe */
    flex-shrink: 0; /* Empêche le rétrécissement de l'élément */
    cursor: pointer; /* Change le curseur au survol */
}



.sliderProjets-container {
    display: flex; /* Affichage en flexbox horizontal */
    gap: 20px; /* Espace entre les éléments enfants */
    overflow-x: scroll; /* Permet le défilement horizontal */
    scroll-snap-type: x mandatory; /* Défilement fluide avec arrêt sur chaque élément */
    padding: 16px 0;
}

/* Style des images dans chaque projet */
.projet-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    display: block; /* Supprime les espaces blancs en bas de l'image */
}
.scroll-container * {
    user-select: none;
}